* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding-left: 0;
}

.navbar .nav-item {
    margin-left: 57px;
}

.navbar .nav-item .nav-link {
    color: #999999;
}

.navbar .nav-item .nav-link:hover {
    color: black;
}

.navbar .logInIcon {
    margin-left: 109px !important;
}

.navbar .navbar-toggler {
    display: none;
}

.navbar #collapsNav {
    display: none !important;
}

.container-fluid {
    background-image: url("../image/top-bg.png");
    background-size: cover;
    height: 508px;
}

.container-fluid .title {
    margin-top: 99px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.container-fluid .paragraf {
    margin-top: 16px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.container-fluid button {
    margin-top: 51px;
    padding: 21px 66px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    background-color: #FF0000;
}

.container .boxCols {
    margin-top: 60px;
}

.container .boxImgTitle {
    padding: 30px 0;
    background: #FFFFFF;
    box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
    border-radius: 5px;
}

.container .boxImgTitle h3 {
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.container .boxImgTitle h5 {
    font-family: Calibri, serif;
    font-size: 16px;
    line-height: 100%;
}

.middle-title {
    margin-top: 164px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.02em;
}

.tabs {
    box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    padding: 10px 14px;
}

.tabs li a {
    display: block;
    text-decoration: none;
    padding: 18px 39px;
    text-align: center;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.6;
    font-size: 14px;
    line-height: 100%;
}

.tabs li a.active {
    background: #000000;
    opacity: 1;
    color: white;
}

.students ul li {
    margin-left: -10px;
}

.students ul li:nth-child(1) {
    margin-left: 0;
}

.card, .main-boxes {
    box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
    border-radius: 5px;
}

.card-header {
    padding: 0;
}

.card-body {
    padding: 32px 23px 15px 31px;
}

.card-footer {
    background: none;
    padding: 20px 27px 20px 31px;
}

.info {
    margin-left: 20px;
}

.info h5 {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 100%;
}

.main-boxes {
    margin-top: 30px;
}

.main-boxes .m-b-body {
    /*padding: 36px 49px 32px 49px;*/
    display: flex;
    flex-direction: column;
}

.main-boxes .m-b-body h3, .main-boxes .m-b-body a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.main-boxes .m-b-body a {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    transition: 0.4s;
}

.main-boxes .m-b-body a:hover {
    color: #FF0000;
}

.info p {
    margin-bottom: 0;
    color: #000000;
    font-size: 13px;
    line-height: 100%;
    opacity: 0.5;
}

.subject h4 {
    margin: 21px 0 0 0;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.students-diplomat {
    margin-top: 16px;
}

.diplomat {
    margin-left: 36px;
}

.diplomat h5 {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.card-footer h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.card-footer a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.dark-button {
    margin-top: 49px;
    padding: 21px 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.main-boxes {
    height: 295px;
}

main .middle-title {
    margin-top: 125px;
    margin-bottom: 28px
}

.oliy {
    margin-top: 28px;
}

.o-t {
    filter: grayscale(100%);
    margin: 0 52px 88px 0;
    transition: 0.5s;
}

.o-t:hover {
    filter: grayscale(0%);
}

.o-t:nth-child(1) {
    margin-right: 42px;
}

.o-t:nth-child(7) {
    margin-right: 0;
}

.o-t:nth-child(12) {
    margin-left: 24px;
    margin-right: 0;
}

.last-section {
    background-image: url("../image/bottom-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.last-section h2, .last-section p {
    margin-top: 117px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.02em;
}

.last-section p {
    margin-top: 27px;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
}

.last-section form {
    margin-left: 25px;
    margin-top: 127px;
    margin-right: 45px;
}

.jjj {
    overflow-x: hidden;
    flex-wrap: wrap;
}

form button {
    width: 260px;
    height: 60px;
    margin-top: 24px;
    margin-bottom: 111px;
}

input {
    height: 60px !important;
    margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
.slick-list {
    overflow: hidden;
}

.slick-list:focus {
    outline: none;
}

.slick-slide {
    float: left;
}

.testimonial {
    position: relative;
    margin: 45px 0;
    padding: 90px 0;
    text-align: center;
}

.testimonial .container {
    max-width: 760px;
}

.testimonial .testimonial-slider-nav .slick-slide {
    opacity: 0;
    transform: scale(0.66667);
    transition: .5s;
}

.testimonial .testimonial-slider-nav .slider-nav {
    opacity: 1;
    transform: scale(0.6667);
    transform-origin: center 101px;
    border-bottom: 2px solid transparent;
    padding-bottom: 30px; /**/
}

.testimonial .testimonial-slider-nav .slick-current {
    transform: scale(1);
    border-bottom: 2px solid #f28529;
    padding-bottom: 20px; /**/
}

.testimonial .testimonial-slider-nav .slick-slide img {
    position: relative;
    display: block;
    margin: 41px auto 0;
    width: 60px;
    border-radius: 100px;
}

.testimonial .testimonial-slider-nav .slick-center img {
    margin-bottom: 0;
}


.testimonial .testimonial-slider h3 {
    color: #fdbe33;
    font-size: 22px;
}

.testimonial .testimonial-slider p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 576px) {
    .container-fluid {
        background: url("../image/mobilBg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 340px;
    }

    .oliy {
        display: block;
    }

    .jjj {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .container-fluid .title {
        margin-top: 38px;
        font-family: Calibri, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 46px;
        line-height: 50px;
        letter-spacing: -0.02em;
    }

    .container-fluid .paragraf {
        display: none;
    }

    .container-fluid .paragraf2 {
        display: block !important;
        margin-top: 9px;
        font-family: Calibri, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.8);
    }

    .container-fluid button {
        margin-top: 44px;
        padding: 17px 39px;
        font-size: 16px;
        color: #FFFFFF;
    }

    .navbar {
        padding-left: 16px;
    }

    .navbar .desctop {
        display: none;
    }

    .navbar .navbar-toggler {
        padding: 0;
        display: inline;
    }

    .boxCols {
        margin-top: 30px !important;
    }

    .middle-title {
        margin-top: 450px;
    }

    .tabs li a {
        padding: 18px 25px;
    }
}