* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  padding-left: 0;

  .nav-item {
    margin-left: 57px;

    .nav-link {
      color: rgb(153, 153, 153);
    }

    .nav-link:hover {
      color: black;
    }
  }

  .logInIcon {
    margin-left: 109px !important;
  }

  .navbar-toggler {
    display: none;
  }

  #collapsNav {
    display: none !important;
  }
}

.container-fluid {
  background-image: url("../image/top-bg.png");
  background-size: cover;
  height: 508px;

  .title {
    margin-top: 99px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .paragraf {
    margin-top: 16px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
  }

  button {
    margin-top: 51px;
    padding: 21px 66px;
    font-family: Calibri, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    background-color: #ff0000;
  }
}

.container {
.boxCols{
  margin-top: 60px;
}
  .boxImgTitle {
    padding: 30px 0;
    background: #FFFFFF;
    box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
    border-radius: 5px;

    h3 {
      font-family: Calibri, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: -0.02em;
    }

    h5 {
      font-family: Calibri, serif;
      font-size: 16px;
      line-height: 100%;
    }
  }
}

@media (max-width: 576px) {
  .container-fluid {
    background: url('../image/mobilBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 340px;

    .title {
      margin-top: 38px;
      font-family: Calibri, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 46px;
      line-height: 50px;
      letter-spacing: -0.02em;
    }

    .paragraf {
      display: none;
    }

    .paragraf2 {
      display: block !important;
      margin-top: 9px;
      font-family: Calibri, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.8);
    }

    button {
      margin-top: 44px;
      padding: 17px 39px;
      font-family: Calibri, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #FFFFFF;
    }
  }
  .navbar {
    padding-left: 16px;

    .desctop {
      display: none;
    }

    .navbar-toggler {
      padding: 0;
      display: inline;
    }

  }
  .boxCols{
    margin-top: 30px!important;
  }

}
